<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Semantic Image Graph</title>
  
  
  
      <link rel="stylesheet" href="{{ url_for('static',filename='styles/home1.css') }}">

  
</head>

<body>
  <div id="particles-js"> <h1>Semantic Image Graph</h1>

  <div id="form" >
     <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required><br /><br />
        <input type="submit" value="Upload">
      </form>
    </div>
</div>
  
    <script  src="{{ url_for('static',filename='javascript/index.js') }}"></script>

</body>
</html>
